<div>
  <p class="my-2">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= user.age %>
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>
  
  <hr>
</div>
